*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
} 

body {
    font-family: 'Quicksand', sans-serif;
    color: #fff; 
    padding: 10rem;
    background-color: #121212;
}

footer {
    text-align: center;
    font-size: 1.2rem;
    padding-top: 1rem;
    margin-bottom: -3rem;
}

a,
a:active,
a:visited {
    color: #f1e7a7;
}

.header {
    display: flex;
    margin-bottom: 3rem;
    align-items: flex-end;
    gap: 2rem;
    color: #f1e7a7;
    overflow: hidden;
}

.logo {
    width: 4rem;
    animation: slide-in-left 0.5s 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.logo-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 5rem;
    font-weight: 500;
    animation: slide-in-bottom 0.5s 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.header-text {
    margin-left: auto;
    font-size: 2rem;
    font-weight: 500;
    animation: slide-in-bottom 0.7s .9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.cursors-container {
    padding-top: 8rem;
}

.cursors-title {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgb(178, 178, 178);
}

.cursors-list {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem 4rem;
    margin: 3.5rem 0;
}

.cursor-item {
    font-size : 1.6rem;
    font-weight: 500;
    padding: 2rem 3rem;
    width: calc(100% / 5 - 4rem);
    text-align: center;
    border-radius : 1.5rem; 
    color : rgb(233, 236, 239); 
    background-color : rgb(52, 58, 64);
    transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.cursor-item:hover {
    transform: scale(1.05);
}

.copied,
.copied:hover {
    background-color: #578844;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Media Queries */
@media screen and (max-width: 1250px) {
    .cursor-item { width: calc(100% / 4 - 4rem) }
}

@media screen and (max-width: 1050px) {
    .cursor-item { width: calc(100% / 3 - 4rem) }
}

@media screen and (max-width: 850px) {
    .logo { width: 4rem }

    .logo-text { font-size: 4rem }

    .header-text { font-size: 1.5rem }

    .cursor-item { width: calc(100% / 2 - 4rem) }
}

@media screen and (max-width: 650px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
 
    .cursor-item { width: 100% }
}